@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 100vh;
  background: #0e1217;
}

main {
  width: 90%;
  max-width: 60vw;
  margin: 1.5rem auto;
  padding: 2rem;
  background-color: #1c1f26;
  color: #FFF;
  border-width: 1px;
  border-image: linear-gradient(90deg, #c70ffe, #7e53fb, #0be7fa) 1;
  border-style: solid;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.25);
}

main:hover {
  border-image: linear-gradient(90deg, #0be7fa, #7e53fb, #c70ffe) 1;
  background-color: #1e2128;
}

header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}
